extends layout

block content
    #container
      #namesWrapper
        h2 Chat IO
        p Create Username
        form#userNameForm(action='post')
          input#usernam
          input(type='submit', value='Submit')

      #mainWrapper
        h2 Chat IO
        #chatWrapper
          #chatWindow
          form#messageForm(action='')
            input#message(type='text', placeholder='Say something...')
            input(type='hidden', value='Submit')
        #userWrapper
          #user jack

